
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block title %} pitchyPitchit - Login {% endblock%}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>Login</h1>
        <div class="row">
            <div class="col-lg-6 display-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <div>
            New user?
            <small>
            <a href="{{ url_for('auth.register') }}">Click here to register</a></small> 
        </div>
    </div>
</div>
    
    <!-- <div class="mx-auto d-block">
            <img style="width: 100%;" src="{{url_for('static', filename='/images/database_login.jpg', _external=True) }}"}alt="">
    </div> -->
{% endblock %}






